:root {
  --black-400: #4B4D59;
  --black-500: #373945;
  --black-700: #2E303C;
  --black-900: #1F2229;

  --gray: #BEC2C6;

  --white: #FBFBFB;
  
  --yellow: #FAE800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: var(--white);
  background: var(--black-900);
}

button {
  cursor: pointer;
}